[user]
  name = Maxence Mathieu
  email = Maxence.Mathieu.Mail@allegrodvt.com
[push]
  default = simple
[pull]
  rebase = true
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  editor = nvim
  exludesfiles = ~/.gitignore_global
  filemode = false
[alias]
  st = status -uno
  ci = commit
  co = checkout
  lg = log --pretty=format:\"%C(yellow)%h %ad %Creset%s%Cblue [%an] %Cred%d\" --date=iso --decorate --graph -10
  up = "!f() {git stash; git pull --rebase; git stash pop;}; f"
  pull = pull --rebase
  sup   = submodule update -j 4 --progress
  sinit = submodule init
  mr = push -u -o merge_request.create -o merge_request.remove_source_branch origin HEAD
  su = submodule update --init
[diff]
  tool = vimdiff
[status]
# showUntrackedFiles = no
[pager]
  log = false
  branch = false
[merge]
  tool = kdiff3
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
